

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: chocolate;
    background-image: url(../images/ball.png);
    background-size: cover;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}



@keyframes bounce {
    0%     { transform: translate3d(0, 10, 0);}
    10%    { transform: translate3d(0, 10, 0) rotate(-180deg);}   
    15%    { transform: translate3d(0, 15px, 0) rotate(-90deg);}
    25%    { transform: translate3d(0, 20px, 0) rotate(-120deg);}
    45%    { transform: translate3d(0, 175px, 0) rotate(-180deg);}
    50%    { transform: translate3d(0, 250px, 0) scale(1, .9) rotate(-220deg);}
    55%    { transform: translate3d(0, 250px, 0) scale(1.2, .8) rotate(-180deg);}
    65%    { transform: translate3d(0, 225px, 0) scale(1.1, .8) rotate(-180deg);}
    100%   { transform: translate3d(0, 200, 0) rotate(-90deg);}

}

.shadow {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    margin-top: 175px;
    background-color: darkslategrey;
    z-index: -1;
    animation-name: shadow;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}


@keyframes shadow {
    0%      {transform: scale(.5, .25);}
    10%     {transform: scale(.5, .25);}
    25%     {transform: scale(.5, .25);}
    50%     {transform: scale(.5, .25);}
    45%     {transform: scale(.75, .25);}
    50%     {transform: scale(1, .25);}
    55%     {transform: scale(1.2, .5);}
    65%     {transform: scale(1.1, .5);}
    100%    {transform: scale(.5, .25);}


}